<h3>Sub-Product Page</h3>

{{link-to 'Product page' 'products'}}

<h4>{{product.name}}</h4>

<table>
  {{#each productData as |data|}}
    <tr>
      <td>{{data.ticker}}</td>
      <td>{{data.comp_name}}</td>
      <td>{{data.per_end_date}}</td>
    </tr>
  {{/each}}
</table>

{{outlet}}
